<h1>Welcome to <u>JL Archive Email</u> test app</h1>
<h2>We would like to do a test and archive our Postmark Messages</h2>
<p>
  Today is: <b><%= Date.today.strftime("%d %B %Y") %></b>
</p>

<%= link_to 'Sign out', logout_path %>

<!-- <p>
  The time is now: <b><%= DateTime.now.strftime("%l:%M %p") %></b>
</p> -->
