<p id="notice"><%= notice %></p>

<p>
  <strong>Payload:</strong>
  <%= @webhook_event_request.payload %>
</p>

<p>
  <strong>Type:</strong>
  <%= @webhook_event_request.webhook_type %>
</p>

<%= link_to 'Back', webhook_event_requests_path %>
