<h1>Hi there! Welcome to <u>Jobline Archive Email</u></h1>

<h2>This is a test application</h2>

<p>
  Today is <b><%= Date.today.strftime("%d %B %Y") %></b>, please <%= link_to 'Sign in', login_path %>!
</p>
